@model IEnumerable<ocLBlog.Entities.Models.Article>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="col-lg-11">
        <div class="panel">
            <div class="panel-body">
                <div class="bio-chart">
                    <input class="knob" data-width="100" data-height="100" data-displayPrevious=true data-thickness=".2" value="@item.Category.Articles.Count()" data-fgColor="#cba4db" data-bgColor="#e8e8e8">
                </div>
                <div class="bio-desk">
                    <h4 class="purple">Kategoriye Göre Makale</h4>
                    <p>Adı : @item.Category.Name - Toplam : @item.Category.Articles.Count()</p>
                    <p>Son Eklenme: @item.CreatedDate.ToShortDateString()</p>
                </div>
            </div>
        </div>
    </div>
}
