@model ocLBlog.Entities.Models.Comment
@{
    ViewBag.Title = "Gelen Yorum Detayı";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-sm-10">
                    <section class="panel">
                        <header class="panel-heading">
                            @ViewBag.Title || <a href="~/Comment/yonas" class="btn btn-primary">Yorum Admin Sayfasına Dön</a> || <a href="~/Comment/Delete/@Model.Id" class="btn btn-danger">Yorumu Sil</a>
                        </header>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Adı-Soyadı</th>
                                    <th>Yorumu</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>@Model.NameSurname</td>
                                    <td>@Model.Text</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </section>
    </section>
</section>
