@model IEnumerable<ocLBlog.Entities.Models.LearnPrice>
@{
    ViewBag.Title = "Ask Your Project Price";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcumb-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li><a href="~/Home/Index">Home</a></li>
                        <li>/</li>
                        <li>Ask Price</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="contact-wrap form-style">
                    <h3>Ask Price for Your Website or Automation Project</h3>
                    <div class="cf-msg"></div>
                    @Html.Action("_Create", "LearnPrice")
                </div>
            </div>            
        </div>
    </div>
</div>
